################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
/build/x64/Debug/RayimDR
/install/x64/Debug
/build/x64/Release/RayimDR
/install/x64/Release
/build/x64/Release
/build/x64/Debug
/IRayDetectorWidgetsApplication/IRayDetectorWidgetsApplication.vcxproj.user
/IRayDetector/IRayDetector.vcxproj.user
/debug.md
/RayimDR/myeasylog.log
/RayimDR/FTPHostManager.log
/RayimDR/SplincingCorrect.1.log
/IRayDetectorWidgetsApplication/FTPHostManager.log
/.vs
/docs/P366-IXS120BP120P366 Installer/_192.168.1.1 10001.log
/docs/P366-IXS120BP120P366 Installer/_192.168.1.1 10001_arc.log
/docs/P366-IXS120BP120P366 Installer/_192.168.10.1 10001.log
/docs/P366-IXS120BP120P366 Installer/_192.168.10.1 10001_arc.log
/docs/P366-IXS120BP120P366 Installer/_192.168.10.120 10001.log
/docs/P366-IXS120BP120P366 Installer/_192.168.10.120 10001_arc.log
/RayimDR/RayimDR/Debug
