################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/RayimDR/v16
/build/x64/Debug/RayimDR
/install/x64/Debug
